.PeoplPages{
    height: 92vh;
    width: 100%;
    background-color: rgb(3, 136, 92);
    display: flex;
    align-items: center;
    justify-content: center;
}
.PeopleCard{
    min-height: 75vh;
    height: auto;
    width: 60vmax;
   background-color: rgb(33, 87, 62);

}
.CardSearch{
    width: 100%;
    height: 8vh;
    background-color: rgb(37, 53, 45);
    display: flex;
    align-items: center;
justify-content: flex-end;
}
.CardSearch input{
  margin: 0px 20px;
}
.CardUserList{
    height: 70vh;
    width: 100%;

    overflow-y: scroll;
}
.UserCard{
    width: 100%;
    height: 10vh;
    background-color: rgb(32, 112, 75);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vmax 0vmax;
}
.UserCard p{
margin-left: 20px;
color: white;
}
.UserCard button{
    margin-right: 20px;
    }